body {
  margin: 0;
  padding: 0;
  /*background-image: url("../image/dark_wall.png");*/
  background-color: #1F2421;
  font-family: sans-serif;
  overflow: hidden;
}

.wrapper-hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.taskbar {
  width: 100%;
  height: 50px;
  background-color: red;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+78 */
  background: -moz-linear-gradient(bottom,  rgba(0,0,0,0.35) 0%, rgba(0,0,0,0) 78%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0) 78%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0) 78%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

  position: relative;
  top: Calc(100vh);
  transition: all 1s;
  padding: 5px;
}

.task-appear {
  top: Calc(100vh - 55px);
  margin: 0 auto;
}

.icon1 {
  float: left;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #9CC5A1;
  cursor: pointer;
  transition: all 0.1s;
}

.icon1:hover {
  background-color: #DCE1DE;
  transform-origin: 50% 100%;
  transform: scale(1.2);
  transition: all 0.2s;
}

.icon-container {
  width: 220px;
  margin: 0 auto;
}


/*------WINDOW---------------------------------------------------------------*/

.window {
  position: absolute;
  width: 200px;
  height: 350px;
  border-radius: 2px;
  background-color: #216869;
  overflow: hidden;
  top: 30px;
  left: 30px;
  border: 1px solid black;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
}

.bottom {
  position: relative;
  top: Calc(100% - 100px);
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.send {
  float: left;
  width: 100px;
  height: 100%;
  background-color: #49A078;
  transition: all 0.15s;
  cursor: pointer;
}

.send:hover {
  background-color: #9CC5A1;
}

.text-hero {
  width: Calc(100% - 104px);
  height: 100px;
  float: right;
  resize: none;
  border: 0;
  outline: none;
}

.top {
  position: relative;
  width: 100%;
  height: 20px;
  background-color: #7FB069;
  overflow: hidden;
  cursor: move;
}

.exit {
  width: 50px;
  height: 100%;
  background-color: #CA3C25;
  transition: all 0.2s;
  cursor: pointer;
}

.exit:hover {
  background-color: #FF5F45;
}

.exit-hero {
  padding: 0;
  margin: 0;
  text-align: center;
  position: relative;
  bottom: 7px;
  color: #420F07;
  font-size: 30px;
  transform: rotate(45deg);
}

.send p {
  text-align: center;
  position: relative;
  opacity: 0.7;
  top: 25%;
  transform: translateY(-50%);
}

/*----MEMORY-------------------------------*/

.aPair {
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
}

.card img {
  width: 100%;
  height: auto;
}

h1, h2 {
  color: #797596;
}

.clickCounter {
  color: #1F2421;
  font-size: 5em;
  text-align: center;
  transition: all 1s;
  position: absolute;
  bottom: 105px;
  height: 0px;
  width: 100%;
}

.card {
  width: 23%;
  height: 46px;
  margin: 2px;
  background-color: #797596;
  float: right;
  border-radius: 5px;
  background-size: 100% auto;
  background-position: 50% 50%;
  opacity: 0.8;
  transition: all 0.2s;
}

.card:hover {
  transform: scale(1.15);
  opacity: 1;
}

.card:focus {
  transform: scale(1.15);
  opacity: 1;
}

.card-click-one {
  background-color: #A1869E;
  border-radius: 5px;
}

.card-container {
  width: auto;
  height: auto;
}

.row {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.present-click {
  bottom: 292px;
}

.winning-message {
  font-size: 0.5em;
}

.theme-changer {
  width: 22px;
  margin: 1px;
  height: 89%;
  float: right;
  background-color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  transition: all 0.3s;
}

.theme-selector {
  transition: height 0.3s;
  width: 96%;
  background-color: turquoise;
  height: 20px;
  margin: 0 auto;
  position: relative;
  top: 4px;
  overflow: hidden;
}

.theme-selector .picker-container {
  width: 25%;
  height: 100%;
  background-color: green;
  float: left;
}

.theme-selector .picker-container div {
  width: 20px;
  height: 20px;
  background-color: blue;
  margin: 0 auto;
  border-radius: 100%;
}

.theme-field-gone {
  height: 0px;
  transition: height 0.3s;
}

.card-container-after {
  height: 20px;
  transition: height 0.3s;
}

/*----CHAT----------------------------------------------------------*/

.submit {
  position: absolute;
  bottom: 0px;
  height: 50px;
  width: 50px;
  background-color: #CA3C25;
  border: 0;
  text-align: center;
  transition: background-color 0.2s;
}

.submit:hover {
  background-color: #FF5F45;
  cursor: pointer;
}

.text-mess {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 143px;
  height: 44px;
  resize: none;
}

.text-container {
  text-align: left;
  position: relative;
  top: 8px;
  margin: 0 auto;
  width: 96%;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.55);
  overflow-y: scroll;
  transition: height 0.3s;
}

.text-container div {
  margin-bottom: 15px;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.25);
  word-wrap: break-word;
}

.text-container div p {
  margin: 2px;
}

.text-container div p:first-of-type {
  font-weight: bold;
}

.text-container-after {
  height: 264px;
  transition: height 0.3s;
}

.name-field {
  height: 20px;
  width: 96%;
  margin: 0 auto;
  position: relative;
  top: 4px;
  background-color: black;
  overflow: hidden;
  transition: height 0.3s;
}

.name-field-gone {
  height: 0px;
  transition: height 0.3s;
}

.accept-name {
  width: 46px;
  height: 100%;
  background-color: #CA3C25;
  transition: background-color 0.15s;
}

.accept-name:hover {
  background-color: #FF5F45;
  cursor: pointer;
}

.accept-name p {
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  top: 2px;
  color: #420F07;
  font-weight: bold;
}

.enter-nick {
  width: 142px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.nick-changer {
  width: 22px;
  margin: 1px;
  height: 89%;
  float: right;
  background-color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
}

.user-sent {
  text-align: right;
}
