body {
  margin: 0;
  padding: 0;
  background-image: url("../image/Background1.png");
  background-size: cover;
  background-position: 50% 50%;
  font-family: sans-serif;
  overflow: hidden;
}

.wrapper-hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.taskbar {
  width: 100%;
  height: 50px;
  position: relative;
  top: 100vh;
  transition: all 1s;
  padding: 5px;
}

.task-appear {
  top: Calc(100vh - 94px);
  margin: 0 auto;
}

.icon1 {
  float: left;
  height: 55px;
  width: 55px;
  border-radius: 100%;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #ae3737;
  cursor: pointer;
  transition: all 0.1s;
}

.icon1:hover {
  background-color: #8b3030;
  /*transform-origin: 50% 100%;*/
  /*transform: scale(1.2);*/
  transition: all 0.2s;
}

.icon-container {
  width: 300px;
  margin: 0 auto;
}

.icon-gamepad {
  background-image: url('../image/icons/gamepadgrey.png');
  background-size: 83% auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.icon-chat {
  background-image: url('../image/icons/chatgrey.png');
  background-size: 83% auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.icon-coloring {
  background-image: url('../image/icons/coloringgrey.png');
  background-size: 83% auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.icon-what {
  background-image: url('../image/icons/whatgrey.png');
  background-size: 83% auto;
  background-position: 50% 50%;
  background-repeat:  no-repeat;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/*------WINDOW---------------------------------------------------------------*/

.top-icon-chat {
  background-image: url('../image/icons/chatgrey.png');
  background-size: 6% auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.top-icon-memory {
  background-image: url('../image/icons/gamepadgrey.png');
  background-size: 6% auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.top-icon-scheemer {
  background-image: url('../image/icons/coloringgrey.png');
  background-size: 4% auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.window {
  position: absolute;
  width: 330px;
  height: 480px;
  border-radius: 2px;
  background-color: #2a2a2a;
  overflow: hidden;
  top: 30px;
  left: 30px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
}

.bottom {
  position: relative;
  top: Calc(100% - 100px);
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.send {
  float: left;
  width: 100px;
  height: 100%;
  background-color: #49A078;
  transition: all 0.15s;
  cursor: pointer;
}

.send:hover {
  background-color: #9CC5A1;
}

.text-hero {
  width: Calc(100% - 104px);
  height: 100px;
  float: right;
  resize: none;
  border: 0;
  outline: none;
}

.top {
  position: relative;
  width: 100%;
  height: 20px;
  background-color: #ae3737;
  overflow: hidden;
  cursor: move;
}

.exit {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #2a2a2a;
  transition: all 0.2s;
  cursor: pointer;
  float: right;
  position: relative;
  top: 2px;
  right: 3px;
}

.exit:hover {
  background-color: #1f1f1f;
}

.exit-hero {
  width: 65%;
  height: 65%;
  margin: 0 auto;
  background-color: #ae3737;
  position: relative;
  top: 3px;
  border-radius: 100%;
}

.send p {
  text-align: center;
  position: relative;
  opacity: 0.7;
  top: 25%;
  transform: translateY(-50%);
}

/*----MEMORY-------------------------------*/

.aPair {
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
}

.card img {
  width: 100%;
  height: auto;
}

h1, h2 {
  color: #797596;
}

.clickCounter {
  color: #AE3737;
  font-size: 5em;
  text-align: center;
  transition: all 1s;
  position: absolute;
  bottom: 105px;
  height: 0px;
  width: 100%;
}

.card {
  width: 23%;
  height: 74px;
  margin: 2px;
  background-color: #2A2A2A;
  float: right;
  border-radius: 5px;
  background-size: 100% auto;
  background-position: 50% 50%;
  opacity: 0.8;
  transition: all 0.2s;
}

.card:hover {
  transform: scale(1.15);
  opacity: 1;
}

.card:focus {
  transform: scale(1.15);
  opacity: 1;
}

.card-click-one {
  background-color: #A1869E;
  border-radius: 5px;
}

.card-container {
  width: 97%;
  height: auto;
}

.row {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.present-click {
  bottom: 340px;
}

.winning-message {
  font-size: 0.5em;
}

.theme-changer {
    width: 22px;
    margin: 1px;
    height: 89%;
    float: right;
    background-image: url('../image/icons/coggrey.png');
    background-size: 92% auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform: rotate(0deg);
    cursor: pointer;
    float: left;
    transition: all 1s;
  }

.theme-selector {
  transition: height 0.3s;
  /* width: 96%; */
  background-color: #1f1f1f;
  height: 20px;
  margin: 0 auto;
  position: relative;
  top: 4px;
  overflow: hidden;
}

.theme-selector .picker-container {
  width: 25%;
  height: 100%;
  float: left;
}

.theme-selector .picker-container div {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  border-radius: 100%;
}

.theme-field-gone {
  height: 0px;
  transition: height 0.3s;
}

.card-container-after {
  height: 20px;
  transition: height 0.3s;
}

.plain {
  background-color: white;
  cursor: pointer;
  opacity: 0.55;
  transition: all 0.3s;
}

.plain:hover {
  opacity: 1;
}

.red {
  background-color: #ae3737;
  cursor: pointer;
  opacity: 0.55;
  transition: all 0.3s;
}

.red:hover {
  opacity: 1;
}

.blue {
  background-color: #2a2a2a;
  cursor: pointer;
  opacity: 0.55;
  transition: all 0.3s;
}

.blue:hover {
  opacity: 1;
}

.green {
  background-color: #8b3030;
  cursor: pointer;
  opacity: 0.55;
  transition: all 0.3s;
}

.green:hover {
  opacity: 1;
}

/*----CHAT----------------------------------------------------------*/

.submit {
  position: absolute;
  border-radius: 3px;
  bottom: 30px;
  right: 7px;
  height: 43px;
  width: 67px;
  background-color: #ae3737;
  border: 0;
  text-align: center;
  transition: background-color 0.2s;
  color: #2a2a2a;
  font-weight: bold;
  font-size: 1em;
}

/*Nick-changer*/

.submit:hover {
  background-color: #8b3030;
  cursor: pointer;
}

.text-mess {
  position: absolute;
  bottom: 8px;
  left: 8px;
  width: 234px;
  height: 80px;
  border-radius: 3px;
  background-color: #FFFFFF;
  resize: none;
}

.text-container {
  text-align: left;
  position: relative;
  top: 8px;
  margin: 0 auto;
  width: 96%;
  height: 322px;
  /*background-color: rgba(255, 255, 255, 0.55);*/
  overflow-y: scroll;
  transition: height 0.3s;
}

.text-container div {
  margin-bottom: 15px;
  width: 270px;
  float: left;
  padding: 2px;
  background-color: #1f1f1f;
  word-wrap: break-word;
  border-radius: 2px;
}

.text-container div p {
  margin: 2px;
  color: #fffefe;
  font-size: 0.8em;
}

.text-container div p:first-of-type {
  font-weight: bold;
  color: #fffefe;
  font-size: 1em;
}

.text-container-after {
  height: 342px;
  transition: height 0.3s;
}

.name-field {
  height: 20px;
  width: 96%;
  margin: 0 auto;
  position: relative;
  top: 4px;
  background-color: black;
  overflow: hidden;
  transition: height 0.3s;
}

.name-field-gone {
  height: 0px;
  transition: height 0.3s;
}

.accept-name {
  width: 46px;
  height: 100%;
  background-color: #ae3737;
  transition: background-color 0.15s;
  background-image: url("../image/icons/acceptgrey.png");
  background-size: 60% auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.accept-name:hover {
  background-color: #8b3030;
  cursor: pointer;
}

.chat-divider {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 16px;
}

.enter-nick {
  width: 266px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.nick-changer {
  width: 22px;
  margin: 1px;
  height: 89%;
  float: right;
  background-image: url('../image/icons/coggrey.png');
  background-size: 92% auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: rotate(0deg);
  cursor: pointer;
  float: left;
  transition: all 1s;
}

.nick-cog-rotate {
  transform: rotate(450deg);
}

.user-sent {
  text-align: right;
  position: relative;
  left: 30px;
}

.window-icon {
  width: 20px;
  height: 100%;
  margin: 0 auto;
}



/*------SCHEMEER----------------------------------------------------------*/

.wider {
  width: 464px;
  height: 325px;
}

.design-square {
  width: 200px;
  height: 286px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  float: right;
  margin-top: 8px;
  margin-right: 8px;
  border-radius: 2px;
  overflow: hidden;
  background-color: #1f1f1f;
}

.color-container {
  float: left;
  width: 206px;
  height: 289px;
  left: 9px;
  top: 8px;
  position: relative;
  border-radius: 2px;
  background-color: #1F1F1F;
  /* bottom: 38px; */
}

.round {
  width: 25px;
  height: 25px;
  background-color: #AE3737;
  border: 1px solid rgba(0, 0, 0, 0.6);
  float: left;
  border-radius: 100%;
  margin-left: 10px;
  margin-right: 4px;
}

.color-row {
  margin-top: 5px;
  display: inline-block;
  width: 100%;
  position:  relative;
  bottom: 22px;
}

.color-row input {
  margin: 3px;
  width: 148px;
  float: left;
  position:  relative;
  top: 1px;
  border: 0;
  display: inline;
  /*background-color: #59AE37;*/
  border-radius:  2px;
}

.over-square {
  /* height: 74px; */
  width: 202px;
  position: relative;
  /* right: 56px; */
  top: 8px;
  text-align: center;
}

.over-square p {
  position: relative;
  bottom: 10px;
  color:  white;
}

.over-square input {
  width: 148px;
  text-align: center;
  position: relative;
  border: 0;
  bottom: 25px;
  /*background-color: #59AE37;*/
  border-radius:  2px;
}

.container-text-type {
  width: 100%;
  height: 25px;
  text-align: center;
  position: relative;
  bottom: 22px;
}

.container-text-type p {
  position: relative;
  bottom: 10px;
  font-size: 0.85em;
}

.sans {
  float: left;
  font-family: sans-serif;
}

.serif {
  float: left;
  font-family: serif;
}

.norm {
  float: left;
}

.bold {
  float: left;
  font-weight: bold;
}

.top-fix {
  width: 67%;
}

.switch-container {
  width: 50px;
  height: 11px;
  background-color: #2A2A2A;
  border-radius: 2px;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  overflow:  hidden;
}

.switch-container-bold {
  width: 50px;
  height: 11px;
  background-color: #2A2A2A;
  border-radius: 2px;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  overflow:  hidden;
}


.round-switch {
  height: 11px;
  width: 50%;
  /* border-radius: 100%; */
  background-color: #AE3737;
  transition: all 0.3s;
}

.for-center {
  width: 70%;
  margin: 0 auto;
}

.top-fix {
  width: 68%;
}

.bottom-fix {
  position: relative;
  bottom: 24px;
}

/*-----------------TemplateONE-------------------------------------------------------*/

.header-one {
  width: 100%;
  height: 50px;
  background-color: #ae3737;
}

.header-one input {
  border-radius: 3px;
  border: 0;
  text-align: center;
  width: 100%;
  font-size: 1.25em;
  background-color: rgba(0, 0, 0, 0);
  /* margin:  0 auto; */
  margin-top: 14px;
  color: white;
}

.header-one input:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.middle-one {
  width: 145px;
  height: 200px;
  background-color: #2a2a2a;
  margin: 0 auto;
}

.footer-one {
  width: 100%;
  height: 37px;
  background-color: #8b3030;
}

.one {
  background-color: #AE3737;
}

.two {
  background-color: #2A2A2A;
}

.three {
  background-color: #1F1F1F;
}

.four {
  background-color: #8b3030;
}


::-webkit-input-placeholder {
  color: black;
  opacity: 0.5;
}
